body {
    margin: 10px;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
header,main,footer,section,div {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
    text-align: center;
}
h1 {
    font-size: 3.5em;
    text-align: center;
}
h2 {
    font-size:3em;
    text-align: center;
}